:root {
  --color-1: #ffffff;
  --color-2: #e96c0f;
  --color-3: #ffa612;
  --heading: 54px;
  --paragraph: 18px;
  --line-height: 1.8;
  --font-1: "Segoe UI", Arial, sans-serif;
  --font-2: "Monotype Corsiva", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.container section {
  min-width: 100%;
  height: 100vh;
}

.italic-font {
  font-family: var(--font-2) !important;
}

.section {
  height: 100vh;
  background-image: url("./assets/images/background.avif");
  background-size: cover;
  padding: 50px;
  position: relative;
}

.section-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.section-logo > img {
  width: 100px;
  height: auto;
  margin: 20px;
}

.section-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #813600;
}

.section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-1 > .video-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 > .video-container > video {
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--color-3);
  object-fit: cover;
}

.section-1 > .text-container {
  width: 24%;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: var(--font-1);
}

.section-1 > .text-container > h1 {
  font-size: var(--heading);
  margin-bottom: 10px;
}

.section-1 > .text-container > p {
  font-size: var(--paragraph);
  line-height: var(--line-height);
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.section-2 > .grid-container-1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  height: 40%;
  width: 90%;
  margin-bottom: 50px;
  flex: 1;
}

.section-2 > .grid-container-2 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  height: 40%;
  width: 90%;
}

.section-2 .grid-item {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--color-3);
  background-color: black;
}

.section-2 .grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.section-2 .grid-item > iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.section-2 .grid-item-hidden {
  visibility: hidden;
}

.section-2 > .grid-container-2 > .grid-item-large {
  grid-column: span 3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-1);
}

.section-2 > .grid-container-2 > .grid-item-large > h1 {
  font-size: var(--heading);
  margin-bottom: 10px;
}

.section-2 > .grid-container-2 > .grid-item-large > p {
  font-size: var(--paragraph);
  margin-bottom: 10px;
  line-height: var(--line-height);
}

.section-2 > .grid-container-2 > .grid-item-large > a {
  color: var(--color-2);
  font-size: 24px;
}

.section-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-family: var(--font-1);
}

.section-3 > .text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: 150px;
  margin-right: 100px;
}

.section-3 > .text-container > h1 {
  font-size: var(--heading);
}

.section-3 > .text-container > p {
  font-size: var(--paragraph);
  line-height: var(--line-height);
  margin-bottom: 10px;
}

.section-3 > .options-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-top: 5%;
}

.section-3 > .options-container > h1 {
  font-size: 80px;
  color: var(--color-3);
  font-weight: bold;
}

.section-3 > .options-container > h1 > span {
  color: var(--color-2);
}

.section-4 {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  font-family: var(--font-1);
}

.section-4 > .container-1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.section-4 > .container-1 > .logo-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: -100px;
}

.section-4 > .container-1 > .logo-container > h1 {
  font-size: var(--heading);
  margin-bottom: -20px;
}

.section-4 > .container-1 > .logo-container > img {
  width: 80%;
  height: auto;
}

.section-4 > .container-1 > .text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.section-4 > .container-1 > .text-container > p {
  font-size: var(--paragraph);
  line-height: var(--line-height);
}

.section-4 > .container-1 > .text-container > p:nth-child(1) {
  margin-bottom: 30px;
}

.section-4 > .vertical-line {
  width: 1px;
  height: 40%;
  background-color: var(--color-8);
}

.section-4 > .container-2 {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.section-4 > .container-2 {
  display: flex;
  flex-direction: column;
}

.section-4 > .container-2 > h1 {
  font-size: var(--heading);
  margin-bottom: 20px;
}

.section-4 > .container-2 > p {
  font-size: var(--paragraph);
  margin-bottom: 10px;
  color: var(--color-2);
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 100px;
}

.section-5 > .grid-container-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  height: 30%;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.section-5 > .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 30%;
  width: 90%;
  margin: 0 auto;
}

.section-5 > .grid-container-1 img,
.section-5 > .grid-container-2 img {
  border-radius: 50%;
  height: auto;
  width: 200px;
  border: 2px solid var(--color-3);
}

.section-5 .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--font-1);
}

.section-5 .grid-item div {
  width: 150px !important;
  height: 150px !important;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
}

.section-5 .grid-item .profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-5 .grid-item > h1 {
  font-size: 24px;
  margin: 20px 0 0;
}

.section-5 .grid-item > p {
  font-size: 20px;
  line-height: var(--line-height);
}

.section-5 .grid-item a {
  color: var(--color-2);
  font-size: 20px;
}
